.np-button {
  border: none;
  border-radius: 4px;
  padding: 4px 20px;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }

  &:active {
    box-shadow: none;
  }

  &--primary {
    background-color: var(--primary);
    color: var(--white);
    font-size: 13px;
  }

  &--large {
    font-size: 18px;
    padding: 12px 40px;
  }

  &--pill {
    font-size: 14px;
    padding: 12px 16px;
    border: 2px solid var(--black);
    border-radius: 50px;
  }
}